<h1 class='page-header'>History</h1>

<table class="table">
  <thead>
    <tr>
      <td>Date</td>
      <td>Opponent</td>
      <td>Score</td>
      <td>Result</td>
    </tr>
  </thead>
  <tbody>
      <% @games.each do |game| %>
        <tr>
        <td><%= game.date_payed.strftime("%b %d") %></td>
        <td><%= game.opponent_id %></td>
        <td><%= "#{game.my_score} - #{game.opponent_score } "%></td>
        <td><%= game.result %></td>
       </tr>
      <% end %>
  </tbody>
</table>
