<h1 class='page-header'>Leaderboard</h1>

<table class="table">
  <thead>
    <tr>
      <td>Rank</td>
      <td>Name</td>
      <td>Score ranking</td>
      <td>Games played</td>
    </tr>
  </thead>
  <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.email %></td>
          <td><%= user.ranking %></td>
          <td><%= user.games.count %></td>
       </tr>
      <% end %>
  </tbody>
</table>