<h1 class='page-header'>Log Game</h1>

<%= form_for @game_log = Game.new, url: create_log_path do |f| %>
  <p>
    <%= f.label(:date_payed, "Date Played: ") %>    
    <%= f.date_field(:date_payed, required: true) %>    
  </p>
  <p>
    <%= f.label(:opponent_id, "Opponent: ") %>    
    <%= f.collection_select(:opponent_id, User.where.not(email: current_user.email), :id, :email) %>    
  </p>
  <p>
    <%= f.label(:my_score, "Your Score: ") %>    
    <%= f.number_field(:my_score, required: true) %>    
  </p>
  <p>
    <%= f.label(:opponent_score, "Opponent Score: ") %>    
    <%= f.number_field(:opponent_score, required: true) %>    
  </p>
    <%= f.submit("Save") %> | <%= link_to "Cancel", root_path %>
<% end %>
